

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
    font-size: 16px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 75em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	aside'
		'footer	 		footer 		footer';
}



/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	padding: 20px;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}


.header .logo {
	margin: auto;
    text-align: center;
    width: 300px;
	
}



.menu {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
}

.menu a {
	padding: 5px;
	color: #000;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
}

.menu a:hover {
	background: #000;
	color: #fff;
}

/* ---------- Articulos ----------*/
.articulo {
	display: flex;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-texto {
	padding: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.articulo .contenedor-thumbnail {
	width: 50%;
}

.articulo .titulo {
	margin-bottom: 0.625rem;
	font-size: 1.56em;
}

.articulo .titulo a {
	font-weight: 400;
	color: #000;
}



.articulo .extracto {
	font-size: 1.25em; 
	line-height: 1.5625rem; 
	font-weight: 300;
	margin-bottom: 1.25rem; 
	color: #868b8d;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
	grid-area: destacado;
	color: white;
	background-color: #000;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
	min-height: 100%;
	width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.destacado .titulo a {
	color: #fff;
}

.destacado .titulo::after {
	content: '';
	margin: 0.625em 0; 
	display: block;
	background-color: #868686;
	width: 6em; 
	height: 1px;
}

.btn-link {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em; 
	background-color: #262626;
	font-size: 1em; 
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
}

.btn-link:hover {
	background: #000;
	text-decoration: none;
}

/*---------- CONTENIDO ----------*/
.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 20px; 
}

/*---------- SIDEBAR ----------*/
.sidebar {
	padding: 5em 25px; 
	text-align: center;
	min-height: 100px; 
	grid-area: aside;
	background: #000;
	color: #868b8d;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
	border-radius: 100%;
	height: 10em; 
	width: 10em; 
	margin-bottom: 25px; 
}

.sidebar .bio {
	margin-bottom: 25px; 
	font-size: 20px; 
	line-height: 25px; 
}

.sidebar .menu {
	width: 100%;
	display: inline-block;
	background: #ccc;
}

.sidebar .menu a {
	padding: 25px; 
	color: #fff;
	background-color: #000;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
}

.sidebar .menu a:hover {
	background: #262626;
}




/*---------- FOOTER ----------*/
.contenedor .footer {
	background: #fff;
	font-size: 20px; 
	grid-area: footer;
	padding: 25px; 
	text-align: right;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}







@media (max-width: 1200px) {
    body{
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    body{
        font-size: 16px;
    }
    .contenedor {
        grid-template-areas:
            'header			header   	header'
            'destacado		destacado 	destacado'
            'contenido		contenido 	contenido'
            'aside          aside       aside'
            'footer	 		footer 		footer';
    }

}

@media (max-width: 768px) {
    
    .articulo.destacado {
        grid-template-columns: 1fr;
    }
    

}

@media (max-width: 576px ) {
    body{
        font-size: 12px;
    }
}
            
/*   
            /* HISTORIA*/

/*

.contenedor_historia{
	width: 90%;
	max-width: 75em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'destacado      destacado 	aside'
		'footer	 		footer 		footer';

}			



           /* SECTION*/
/*   
.historia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    padding: 10px;
}

.historia h3{
  
    margin: 5px;
    text-align: justify;
    border-radius: 20px;
    box-shadow: 5px 5px 0px #424242;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.historia img{
    margin: 10px;
    top: 100%;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 0px #424242 ;
    
}

          /*FIN HISTORIA*/

          /* MULTIMEDIA*/
.contenedor_imagen{
	width: 90%;
	max-width: 75em;
	margin: 1.25em auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'imagenes		imagenes 	imagenes'
		'footer	 		footer 		footer';

}
.contenedor_imagen .footer{
	background: #fff;
	font-size: 20px; 
	grid-area: footer;
	padding: 25px; 
	text-align: right;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.imagenes{
	grid-area: imagenes;
}

.galeria{
	display: flex;
	gap: 20px;
}


          /* FIN MULTIMEDIA*/

          /* TIENDA*/
  /*        
.tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 500px;
    margin-top: 250px;
    background-color: #FFFFFF;
    padding: 5px;
}          

          /*FIN TIENDA*/

          /* CONTACTO*/

/*   
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 500px;
    margin-top: 80px;
    padding: 30px;
    
}

.infocontacto{
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 5px solid;
    margin: 300px;
    margin-top: 10px;
}

.contacto label input{
    font-family: 'Roboto', sans-serif;
}




